.teacher {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 30px auto;
}

@media screen and (min-width: 768px){
  .teacher {
    flex-direction: row;
    justify-content: space-between;
    width: 760px;
  }
}

@media screen and (min-width: 1024px){
  .teacher {
    width: 1000px;
  }
}