.information__subtitle {
  text-decoration: none;
  color: #293241;
  font-family: "Nova-soft-semi", sans-serif;
  font-size: 16px;
  line-height: 18px;
  margin: 5px;
  font-weight: 500;
}

@media screen and (min-width: 1024px){
  .information__subtitle {
    font-size: 18px;
    line-height: 20px;
  }
}