.header {
  margin: 16px 16px 0 16px;
  padding: 0;
  display: grid;
  justify-content: space-between;
  grid-template-columns: 100px 100px;
  grid-template-rows: minmax(42px, 62px);
}

@media screen and (min-width: 768px) {
  .header {
    margin: 24px 0;
    grid-template-columns: 250px 350px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    margin: 28px 0;
    grid-template-columns: 300px 650px;
  }
}

