.header {
  margin: 5px auto;
  padding: 10px;
  display: grid;
  justify-content: space-between;
  grid-template-columns: 300px;
  grid-template-rows: 62px, 62px;
}

@media screen and (min-width: 768px) {
  .header {
    grid-template-rows: minmax(42px, 62px);
    margin: 0 auto;
    padding: 28px;
    grid-template-columns: 250px 350px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    margin: 0 auto;
    grid-template-columns: 300px 650px;
  }
}

