.first-place {
  position: relative;
  min-width: 320px;
  max-width: 1460px;
}

.first-place::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url("../../images/first-place.jpg");
  opacity: .4;
  content: "";
  z-index: -1;
  background-repeat: no-repeat;
  background-position: right;
}

.container {

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  /*  box-shadow is from materialize css's website */
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14),
      0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

.container img {
  width: 100%;
  z-index: -2;
}

button {
  height: 10%;
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  padding: 1em;
  display: flex;
}

button .arrow {
  border: solid #fff;
  border-width: 0 4px 4px 0;
  display: flex;
  padding: 10px;
  transition: transform 0.3s ease-out;
  outline: none;
}

#right-btn {
  margin: auto 0 auto -4em;
}

#right-btn .arrow {
  transform: rotate(-45deg);
}

#left-btn {
  z-index: 0;
  margin: auto -4em auto 0;
}

#left-btn .arrow {
  transform: rotate(135deg);
}