.about__title {
  margin: 30px auto;
  padding: 5px 0 0 0;
  grid-column: 1;
  width: 100%;
  object-fit: contain;
  font-family: "Nova-soft-semi", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 16px;
  text-decoration: none;
  color: #3d5a80;
}
  
@media screen and (min-width: 768px) {
  .about__title {
    font-size: 26px;
    line-height: 30px;
  }
}