.examples__input {
  outline: none;
  border-radius: 2px;
  color: #293241;
  font-family: "Nova-reg", sans-serif;
  font-size: 16px;
  line-height: 20px;
  grid-column: 1;
  border: 1px solid #c0c0c0;
  box-sizing: border-box;
  height: 36px;
  width: 200px;
  margin-right: 30px;
}