.login__input {
  margin: 0;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.login__input:first-of-type {
  padding: 15px 0 13px 0;
}

.login__input:last-of-type{
  padding: 10px 0 13px 0;
}

@media screen and (min-width: 768px) {
  .login__input:first-of-type {
  padding: 0 0 13px 0;
}

.login__input:last-of-type{
  padding: 10px 0 13px 0;
}
}
