.login__input {
  margin: 5px 0;
  font-family: "Nova-soft-reg", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  outline: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.login__input::placeholder {
  font-family: "Nova-soft-reg", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.login__input:first-of-type {
  padding: 15px 0 13px 0;
}

.login__input:last-of-type{
  padding: 10px 0 13px 0;
}

@media screen and (min-width: 768px) {
  .login__input:first-of-type {
    padding: 0 0 13px 0;
}

.login__input:last-of-type{
  padding: 10px 0 13px 0;
}
}
