.slider {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  margin: 15px 0;
  background-color: aqua;
}

@media screen and (min-width: 768px){
  .slider {
    min-width: 384px;
    margin: 15px 5px;
  }
}

@media screen and (min-width: 1280px){
  .slider {
    min-width: 500px;
  }
}